/*body {
    font-family: 'Montserrat';
    font-stretch: 100%;
}*/

* {
    margin: 0px;
    padding: 0px;
}

.navbar{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
}

.carousel-caption{
    right:10%; 
    top:20%;
    left: 50%;
    text-align: right;
}    

/*IMAGEN PLAYA*/
.playa{
    background-image: url("images/honolulu.jpg");
    background-size: cover;
}